
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculadora</title>
</head>
<body>
    <div>
        <h1 style="color:red;">Calculadora mais completa</h1>
        <!--envia as escolhas do utilizador para o servidor-->
        <!--esta linha de comnetário é visivel no cliente-->
        @*mas esta não é*@
        <form method="post">
            <table border="1">
                <tr>
                    <td colspan="5">
                        <input type="text" name="display" readonly/>
                    </td>
                </tr>
                <tr>
                


                </tr>
            </table>

        </form>
    </div>
</body>
</html>
